* {

    margin: 0;
    padding: 0;

}

.cabecalho{

    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.cabecalho-imagem{}


.pergunta, 
.autores{ 
background-image: linear-gradient(#040404, #4e4e4e);
padding: 50mm;
color: red;
display: flex;
justify-content: center;
text-align: justify;
}

.pergunta-imagem {
    width: 30%;
}
